Description=EZSTORAGE binds
[Unit]
Before=emulationstation.service

[Service]
Type=oneshot
User=root
WorkingDirectory=/boot
ExecStart=/bin/bash /boot/setup-ezstorage.sh ark /roms /EZSTORAGE
Restart=no

[Install]
WantedBy=multi-user.target