[Unit]
Description=AmberELEC EZStorage Setup
Before=emulationstation.service
After=graphical.target

[Service]
Type=oneshot
Environment=HOME=/storage
ExecStartPre=/bin/bash /storage/.config/autostart/00-mount-EZSTORAGE.sh
ExecStartPre=/bin/bash /storage/.config/autostart/01-expand-EZSTORAGE.sh
ExecStart=/bin/bash /storage/.config/autostart/02-setup-EZSTORAGE.sh
RemainAfterExit=yes

[Install]
WantedBy=amberelec.target
