# This is a basic workflow to help you get started with Actions

name: release ArkBiaNix
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: |
          chmod a+x ./buildimg.sh ark rocknix armbian
          ./buildimg.sh ark rocknix armbian

      # - name: Release
      #   uses: softprops/action-gh-release@v2
      #   with:
      #     files: |
      #       u-boot-r36s.bin
      #       u-boot-r36s.tar
      #     draft: true
